/* Base Styles -------------------- */

body {
  color: rgb(68, 68, 68);
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.logo img {
  max-width: 100%;
}

.contact ul {
list-style-type: none;
}

.serving {
  font-style: italic;
  font-weight: bold;
  color: rgb(16, 22, 74);
}

/* Navigation */
nav {
background-color: rgb(245, 172, 83);
color: rgb(16, 22, 74);
text-transform: uppercase;
font-weight: bold;
}

nav ul {
list-style-type: none;
}

.services {
  background-color: rgb(245, 172, 83);
  text-transform: capitalize;
  color: #000;
}

.footer ul {
list-style-type: none;
}

/* Pseudo-classes ------------------ */

a:link {
  color: rgb(16, 22, 74);
  text-decoration: none;
}

a:visited {
  color: rgb(16, 22, 74);
  text-decoration: none;
}

a:hover {
  background-color: rgb(16, 22, 74);
  color: rgb(255, 255, 255);
}

a:active {
  background-color: rgb(16, 22, 74);
  color: rgb(255, 255, 255);
}

/* Main Styles --------------------- */

.banner {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}





