/* Media Queries */


/* Base Styles -------------------- */

body {
  color: rgb(68, 68, 68);
  font-family: 'Roboto', sans-serif;
}

.logo img {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.contact ul {
  list-style-type: none;
  padding: 0;
}

.serving {
  font-style: italic;
  font-weight: bold;
  color: rgb(16, 22, 74);
}

/* Navigation */
nav {
background-color: rgb(245, 172, 83);
color: rgb(16, 22, 74);
text-transform: uppercase;
font-weight: bold;
}

nav ul {
list-style-type: none;
padding: 0;

}

nav li {
  display: block;
  padding-left: 40px;
}

nav li:hover {
  background-color: rgb(16, 22, 74);
}

.services {
  background-color: rgb(245, 172, 83);
  text-transform: capitalize;
  color: #000;
}

.footer ul {
  list-style-type: none;
  padding: 0;
}

.footer a:visited {
text-decoration: none;
}

/* Navigation Pseudo-classes ------------------ */

nav a:link {
  color: rgb(16, 22, 74);
  text-decoration: none;
}

nav a:visited {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

nav a:hover {
  background-color: rgb(16, 22, 74);
  color: rgb(255, 255, 255);
}

nav a:active {
  background-color: rgb(16, 22, 74);
  color: rgb(255, 255, 255);
}
/* Footer Pseudo-classes ------------------ */

.footer a:link {
  text-decoration: none;
}

.footer a:visited {
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer a:active {
  text-decoration: none;
}

/* Main Styles --------------------- */

.banner img {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}





